body {
    background-image: url("../images/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.panel-body a {
    word-break: break-all;
}

.panel{
    background-color: rgba(255, 255, 255, 0.452);
    color:black;
    font-weight: bold;
    font-size: 30px;
}

.panel-body {
    color:black;
    font-family: 'Amatic SC', cursive;
}

.heading {
    margin: 10px 0 10px 0;
    text-align: center;
}

h1 {
   font-family: 'Amatic SC', cursive;
   font-size: 90px;
   font-weight: bolder;
   background-color: rgba(255, 255, 255, 0.452); 
   color: black;
   border: black dotted 2px;
   padding: 50px 0 50px 0;
}

h3 {
   font-size: 50px;
   font-family: 'Amatic SC', cursive;
   padding-top: 10px;
   padding-bottom: 10px;
}

th {
    font-weight: bolder;
}

#trainImg {
    width: 75px;
    height: 75px;
    padding-bottom: 15px;
}

#trainTable {
    width: 100%;
}

.form-control {
    font-size: 30px;
    font-weight: bold;
}

td.deleteButton {
    border-radius: 25px;
    text-align: center;
    padding: 7px;
}

td.deleteButton:hover,
#submit:hover,
.login:hover {
    background: black;
    color: white;
}

#submit {
    background-color: white;
    color: black;
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
}

h5 {
    color: white;
}

#trainImg {
    width:100px;
    height: 100px;
}

.welcome {
    text-align: center;
}

.login {
    width: 250px;
    height: 75px;
    text-align: center;
    background: rgba(255, 255, 255, 0.452);
    color: black;
    font-size: 50px;
    font-family: 'Amatic SC', cursive;
    border: black dotted 2px;
    margin: auto;
    display: block;
}