panel-body a {
    word-break: break-all;
}

.jumbotron {
    background-color: rgb(62, 134, 196) ; color: white;
    border: black dotted 2px;
}

#trainImg {
    width: 75px;
    height: 75px;
    padding-bottom: 15px;
}

#trainTable {
    width: 100%;
}